/* Ajouter une couleur de fond sur toute la page */
body {
    background-color: lightgray;
}

/* Sélecteur par ID */
#contact {
    background-color: black;
    color: red;
}

/* Sélecteur par class */
.underTitle {
    background-color: blue;
}

/* Sélecteur logique */
h2 {
    /* Ajouter une couleur de fond */
    background-color: red;

    /* Modifier la couleur des caractères */
    color:#fff;
}

/* Sélecteur logique */
strong {
    /* Souligner le texte */
    text-decoration: underline;
    font-size: 32px;
}

/* Sélecteur imbriqué */
.underProject strong {
    text-decoration: none;
    color: red;
}

a:hover, h1:hover {
    color:green;
}

/* Modifier l'interligne */
p {
    line-height: 25px;
}

h1 {
    /* Changer la taille de la police */
    font-size: 50px;
    /* Passer le texte en majuscule */
    text-transform: uppercase;
    /**
     * Ajouter une ombre portée
     * x y blur color
     */
    text-shadow: 1px 1px 2px red;
    /* Ajouter une décoration au texte */
    text-decoration: underline;
}

a {
    /* Supprimer la décoration du texte */
    text-decoration: none;
    /* Modifier l'épaisseur de la police */
    font-weight: bold;
    /* Modifier le style de la police */
    font-style: italic;
}
